profiles/default/.last
profiles/default/tags
profiles/default/bookmarks.clifm
profiles/default/cmdlogs.clifm
profiles/default/dirhist.clifm
profiles/default/jump.clifm
profiles/default/msglogs.clifm
profiles/default/history.clifm
profiles/default/selbox.clifm
profiles/default/nets.clifm
