[submodule "configs/Desktop-Environments/riverwm"]
	path = configs/riverwm
	url = https://github.com/SixteenThousand/blue-riverwm.git
[submodule "configs/bash"]
	path = configs/bash
	url = https://github.com/SixteenThousand/blue-bash
[submodule "configs/swaywm"]
	path = configs/swaywm
	url = https://github.com/SixteenThousand/blue-swaywm
[submodule "configs/nvim"]
	path = configs/nvim
	url = https://github.com/SixteenThousand/neovim-config-2024
