[submodule "configs/Desktop-Environments/riverwm"]
	path = configs/riverwm
	url = https://github.com/SixteenThousand/blue-riverwm.git
[submodule "configs/bash"]
	path = configs/bash
	url = https://github.com/SixteenThousand/blue-bash
[submodule "configs/swaywm"]
	path = configs/swaywm
	url = https://github.com/SixteenThousand/blue-swaywm
[submodule "configs/nvim"]
	path = configs/nvim
	url = https://github.com/SixteenThousand/neovim-config-2024
[submodule "configs/alacritty"]
	path = configs/alacritty
	url = https://github.com/SixteenThousand/blue-alacritty
[submodule "configs/clifm"]
	path = configs/clifm
	url = https://github.com/SixteenThousand/blue-clifm
[submodule "configs/fish"]
	path = configs/fish
	url = https://github.com/SixteenThousand/blue-fish
[submodule "configs/i3wm"]
	path = configs/i3wm
	url = https://github.com/SixteenThousand/blue-i3wm
[submodule "configs/neovide"]
	path = configs/neovide
	url = https://github.com/SixteenThousand/blue-neovide
[submodule "configs/rofi"]
	path = configs/rofi
	url = https://github.com/SixteenThousand/blue-rofi
[submodule "configs/wayfire"]
	path = configs/wayfire
	url = https://github.com/SixteenThousand/blue-wayfire
[submodule "configs/wezterm"]
	path = configs/wezterm
	url = https://github.com/SixteenThousand/blue-wezterm
[submodule "configs/zsh"]
	path = configs/zsh
	url = https://github.com/SixteenThousand/blue-zsh
[submodule "configs/ranger"]
	path = configs/ranger
	url = https://github.com/SixteenThousand/blue-ranger
[submodule "configs/awesomewm"]
	path = configs/awesomewm
	url = https://github.com/SixteenThousand/blue-awesomewm
[submodule "configs/herbstluftwm"]
	path = configs/herbstluftwm
	url = https://github.com/SixteenThousand/blue-herbstluftwm
[submodule "configs/dunst"]
	path = configs/dunst
	url = https://github.com/SixteenThousand/blue-dunst
[submodule "configs/kitty"]
	path = configs/kitty
	url = https://github.com/SixteenThousand/blue-kitty
[submodule "configs/emacs"]
	path = configs/emacs
	url = https://github.com/SixteenThousand/blue-emacs
